html,body{
margin:0;
padding:0;}

body{
font-size: 100%; 
font-family: arial, verdana, sans-serif;
text-align:center;
}

p{
	margin:0 15px 10px;
}

/* a               { display:block; text-decoration: none;  } */
a               { text-decoration: none;  }
a:link          { /*color: #002880;*/color: #056140; text-decoration: none; }
a:visited       { /*color: #002C8A;*/color: #056140; text-decoration: none; }
a:active        { /*color: #FFFF8F;*/color: #FABFFA; text-decoration: none; }
a:hover         { /*color: #DBDB00;*/color: #FF00FF; text-decoration: none; }
ul {list-style-type:square; font-size: 95%; color: #000000;}
ul ul {list-style-image: none; font-size: 90%; }
table { border-collapse: collapse; }

ol {
	margin-top: 0px;
	margin-left: 50px;
}

img{border:none;}

input {z-index:-100;};
select {z-index:-100;};
#list {}
#list table         { 
	border-top: solid 1px #00184C;
	border-bottom: solid 1px #00184C;
	empty-cells: show; 
	margin: 0 0 30px 0; 
}
#list td {padding: 3px 20px 3px 5px; margin: 0 0 0 0;}

#list th { 
	/*background-color: #6B7D9A;*/
	background-color: #617C58;
	color: #FFFFFF;
	font-size: 105%;
	text-align:center;
	vertical-align: top; 
	font-weight: bold; 
	padding: 5px 20px 5px 5px; margin: 0 0 0 0;
	border-bottom: solid 1px #00184C;
}


.list_label { 
	font-size: 100%;
	/*background-color: #C6D3E2;*/
	background-color: #B5EAAA;
	color: #00184C;
	font-weight: bold; 
	border-bottom: solid 1px #00184C;
}

.pager {
	margin-bottom: 5px;
	border-bottom: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	font-size: 75%;
	color: #cccccc;
}

.pager li {
	padding: 0;
	margin: 0;
	list-style: none;
	display: inline;
}

.pager li a {
	text-decoration: none;
	list-style: none;
	display: inline;
}



#view {}
#view table          {  empty-cells: show; margin: 0 0 30px 0; width: 75%;  border-collapse:collapse;}
#view tr { border-top: solid 1px #00184C;  border-bottom: solid 1px #00184C; padding: 5px; }
#view td {padding: 5px; border-top: solid 1px #00184C;  border-bottom: solid 1px #00184C;}
#view th { 
border-top: solid 1px #00184C;  border-bottom: solid 1px #00184C;
	background-color: #E6EDF4; 
   padding: 5px;
	color: #00184C;
	font-size: 100%;
	text-align:right;
	vertical-align: top; 
	font-weight: normal; 

}


.even{
background-color: #F8FAFC;
font-size: 95%;
font-weight: normal;  
padding: 0pt;
border-bottom: solid 1px #00184C;
}

.odd{
background-color:  #FFFFF5;
font-size: 95%;
font-weight: normal;  
padding: 0pt;
border-bottom: solid 1px #00184C;
}

h1 {
/*background-color: #E6EDF4;*/
background-color: #B5EAAA;
	font-size: 130%;
   margin: 5px 0 20px 0;
   padding: 5px 0 5px 15px;  
/*   border-bottom: 1px solid #00184C;
   border-top: 1px solid #00184C;      
   color: #00184C; */

   /*border-bottom: 1px solid #336699;*/
   border-bottom: 1px solid #056140;
   /*border-top: 1px solid #336699;*/
   border-top: 1px solid #056140;
   /*color: #336699;*/
   color: #056140;
} 

h2 {
	font-size: 120%;
   margin: 15px 0 20px 0;
   width: 55%;
   /*border-bottom: 1px solid #336699;*/
   border-bottom: 1px solid #056140;
   padding: 5px 0 5px 15px;  
   /*color: #336699;*/
   color: #056140;
}

h3 {
	font-size: 105%;
   margin: 15px 0 0 0; 
   padding: 5px 0 5px 15px;  
   /*color: #336699;*/
   color: #056140;
}

/* *** Title/Banner *** */
div.title {
	font-size: 130%;
   margin: 15px 0 15px 0;
   /*border-bottom: 1px solid #FFFF8F;*/
   border-bottom: 1px solid #FABFFA;
   /*border-top: 5px solid #FFFF8F;*/
   border-top: 5px solid #FABFFA;
   padding-top: 5px;      
   padding-left: 15px;  
   /*color: #336699;*/
   color: #056140;
}

div#header {
	height:74px;
	line-height:50px;
	margin:0;
	padding-left:10px;
	/*background: #336699;*/
	background: #056140;
	color: #FFFFFF;
	/*border-bottom: 2px solid #EB6B16;*/
	/*border-bottom: 2px solid #FFFF8F;*/
	border-bottom: 2px solid #FABFFA;
	border-top: 0px;
}

.banner {
	color: #FFFF;
	padding: 100px 0 0 0;
	font-size: 200%;
	vertical-align: 25%;
	font-weight: bold;
}		

div#header img {padding: 5px 15px 0 5px;}



div#container{text-align:left}

div#content p{line-height:1.4}

/* *** Top Nav Bar *** */

div.navbar {
    float: left;
    width: 100%;
    min-width: 850px;
    /*background-color: #CCDEAF;*/
    /*background-color: #C6D3E2;*/
     background-color: #B5EAAA;
   /*border-top: 1px solid #FFFFFF;*/
    border-bottom: 5px solid #FFFFFF;
    white-space: nowrap;

}

#topnav {
    margin: 0;
    padding: 0 0 24px 8px;


}

#topnav li {
    margin: 0;
    padding: 0;
    display: inline;
    list-style-type: none;
}

#topnav a:link, #topnav a:visited {
    float: left;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    padding: 0 16px 3px 16px;
    text-decoration: none;
    /*color: #336699;*/
    color: #056140;
    /*border-right: 1px solid #336699;*/
    /*border-top: 2px solid #C6D3E2;*/
    border-top: 2px solid #B5EAAA;
    /*border-bottom: 2px solid #C6D3E2;*/
    border-bottom: 2px solid #B5EAAA;
}

#topnav a:hover {
    color: #FFFFFF;
    /*background-color: #6B7D9A;*/
    background-color: #617C58;
	 /*border-bottom: 2px solid #6B7D9A;*/
    border-bottom: 2px solid #617C58;
    /*border-top: 2px solid #6B7D9A;*/
    border-top: 2px solid #617C58;
}


.footer {
	     clear: both;
        width: 100%;
        /*top:600px;*/
        height: 50px;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 10px;
        text-decoration: none;
        border-top-width: thin;
        border-top-style: solid;
        border-top-color: #cccccc;
        text-align: center;
        margin-top: 10px;
        padding-top: 10px;
        
}


div#container{width:100%;margin:0 auto}

div#wrapper{float:left;width:100%}

div#content{
margin: 0 0 0 150px;
padding-left: 20px;
}




/* div#footer{clear:left;width:100%} */



div#menu{background:#FFFFFF}
div#menu{
	float:left;
	width:150px;
	margin-left:-950px;
	margin-right: 10px;
	border-right: 1px solid #FFFFFF;
	font-size: 75%; 
}

#menu ul
{
list-style: none;
margin: 0;
padding: 0 0 15px 0;
border: none;
}

#menu li
{
border-bottom: 1px solid #FFFFFF;
margin: 0;
}
#menu li.title
{
display: block;
padding: 7px 7px 7px 0.5em;
/*background-color: #336699;*/
background-color: #056140;
/*background-color: #6B7D9A;*/
color: #FFFFFF;
font-size: 125%; 
font-weight: bold;
}
#menu li a
{
display: block;
padding: 7px 7px 7px 0.5em;
/*border-left: 10px solid #6B7D9A;*/
border-left: 10px solid #617C58;
/*background-color: #C6D3E2;*/
background-color: #B5EAAA;
width: 100%;
/*color: #336699;*/
color: #056140;
}

#menu li a { width: auto; }

#menu li a:hover
{
/*border-left: 10px solid #FFFF8F;*/
border-left: 10px solid #FABFFA;
/*background-color: #6B7D9A;*/
background-color: #617C58;
color: #FFFFFF;
}

div#menuextend{background:#FFFFFF}
div#menuextend{
/*	float:left; */
	width:780px;
/*	margin-left:-950px; */
/*	margin-right: 10px; */
/*	border-right: 1px solid #FFFFFF; */
	font-size: 75%; 
}

#menuextend ul
{
list-style: none;
margin: 0;
padding: 0 0 15px 0;
border: none;
}

#menuextend li
{
border-bottom: 1px solid #FFFFFF;
margin: 0;
}
#menuextend li.title
{
display: block;
padding: 7px 7px 7px 0.5em;
background-color: #FFFFFF;
/*background-color: #336699;*/
color: #FFFFFF;
font-size: 125%; 
font-weight: bold;
}


#menuextend li a
{
display: block;
padding: 7px 7px 7px 0.5em;
/*background-color: #C6D3E2;*/
background-color: #B5EAAA;
width: 100%;
color: #000000;
/* color: #336699; */
}

#menuextend li a { width: auto; }

#menuextend li a:hover
{
/*background-color: #6B7D9A;*/
background-color: #617C58;
color: #FFFFFF;
}

.progress
	{ 	font-weight: bold; 
		font-size: 105%;
	  	padding: 2px 7px; 
	  	text-align: center; 
	  	/*color: #C6D3E2;*/
		color: #B5EAAA;
	  	/*border: 5px #C6D3E2  solid;*/
		border: 5px #B5EAAA solid;
	  	margin: 5px;
	}
	  
.progress_current
	{ 	font-weight: bold; 
		font-size: 105%;
	  	padding: 2px 7px; 
	  	text-align: center; 
	  	/*color: #FFFF8F;*/
		color: #FABFFA;
	  	/*border: 5px #FFFF8F solid;*/
		border: 5px #FABFFA solid;
	  	margin: 5px;
	}
	
	

/* *** Tabbed Horizontal Menu *** */

.tabs {
	padding: 3px 0;
	margin-left: 0;
	margin-bottom: 0px;
	border-bottom: 1px solid #000000;
	font: bold 12px Arial, Geneva, sans-serif;
}

.tabs li {
	list-style: none;
	margin: 0;
	display: inline;
}

.tabs li a {
	padding: 3px 15px 3px 15px;
	margin-left: 0px;
	margin-bottom: 0px;
	border: 1px solid #000000;
	border-bottom: none;
	background: #E6EDF4;
	text-decoration: none;
	list-style: none;
	display: inline;
}

.tabs li a:link    { color: #00184; }
.tabs li a:visited { color: #00184; }
.tabs li a:active  { color: #00184; }
.tabs li a:hover   { color: #00184; }

.tabs li a.current_tab {
	color: #000000;
	background: #FFFFFF;
	border-bottom: 1px solid #FFFFFF;

}



.mediumspace	{ padding-bottom: 5px; }
	
/* lightbox */
#lightbox{
	display:none;
	position: absolute;
	top:50%;
	left:50%;
	z-index:9999;
	width:500px;
	height:400px;
	margin:-220px 0 0 -250px;
	border:1px solid #fff;
	background:#EFF3F7;
	text-align:left;
}
#lightbox[id]{
	position:fixed;
}

#overlay{
	display:none;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:5000;
	/*background-color:#336699;*/
	background-color:#056140;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}
#overlay[id]{
	position:fixed;
}

#lightbox.done #lbLoadMessage{
	display:none;
}
#lightbox.done #lbContent{
	display:block;
}
#lightbox.loading #lbContent{
	display:none;
}
#lightbox.loading #lbLoadMessage{
	display:block;
}

#lightbox.done img{
	width:100%;
	height:100%;
}
#lightbox h2{
	margin:0 0 1em 0;
}
#lightbox h3{
	color:#FF713F;
}
#lightbox.done p{
	color:#333;
}
#form{
	text-align:left;
	margin-left: 100px; 
}
#form h2 {
	font-size: 120%;
   margin: 15px 0 25px 0;
   /*border-bottom: 2px solid #FFFF8F;*/
   border-bottom: 2px solid #FABFFA;
   padding: 5px 0 5px 15px;  
   /*color: #336699;*/
   color: #056140;
}
#form ul{
	list-style:none;
}
#form li{
	margin:0 0 1em 0;
}

.alert {
    color: #D0070D ;
    /*background-color: #FFFF8F;*/
    font-weight: bold;
}

div#info{background-color:#FFFFF5}
div#info{
	float:right;
	position: absolute;
	top:160px;
   right:55px;
	width:150px;
	margin-left:-950px;
	margin-right: 10px;
	border: 1px solid #000000;
   font-size: 95%;
   padding: 10px;
}







/* ================================================================ 
This copyright notice must be untouched at all times.

The original version of this stylesheet and the associated (x)html
is available at http://www.cssplay.co.uk/navs/final_drop.html
Copyright (c) 2005-2007 Stu Nicholls. All rights reserved.
This stylesheet and the associated (x)html may be modified in any 
way to fit your requirements.
=================================================================== */

.nav {width:845px; height:32px; font-size:0.85em; position:relative; z-index:100;}
/* hack to correct IE5.5 faulty box model */
* html .nav {width:846px; w\idth:845px;}
/* remove all the bullets, borders and padding from the default list styling */
.nav ul {padding:0;margin:0;list-style-type:none;list-style-image: none;}
.nav ul ul {width:129px;list-style-type:none;list-style-image: none;}
/* float the list to make it horizontal and a relative positon so that you can control the dropdown nav positon */
.nav li {float:left;width:129px;position:relative;}
/* style the links for the top level */
.nav a, .nav a:visited {display:block;font-size:100%;font-weight:bold;text-decoration:none; /*color:#336699;*/ color:#056140; width:118px; height:30px; border:1px solid #000; border-width:1px 0 1px 1px 1px; /*background:#C6D3E2;*/ background:#B5EAAA; padding-left:10px; line-height:29px;}
/* a hack so that IE5.5 faulty box model is corrected */
* html .nav a, * html .nav a:visited {width:129px; w\idth:118px;}

/* style the second level background */
.nav ul ul a.drop, .nav ul ul a.drop:visited {/*background:#C6D3E2 bottom right no-repeat;*/ background:#B5EAAA bottom right no-repeat; font-size:85%;}
/* style the second level hover */
.nav ul ul a.drop:hover {/*background:#FFFF8F bottom right no-repeat;*/background:#FABFFA bottom right no-repeat;/*color:#336699;*/color:#056140;font-weight:bold;}
.nav ul ul :hover > a.drop {/*background:#FFFF8F bottom right no-repeat;*/background:#FABFFA bottom right no-repeat;/*color:#336699;*/color:#056140;}
/*.nav ul ul a.drop:hover{background:#336699 bottom right no-repeat;font-weight:bold;}*/
/*.nav ul ul :hover > a.drop {background:#336699 bottom right no-repeat;}*/
/* style the third level background */
.nav ul ul ul a, .nav ul ul ul a:visited {/*background:#C6D3E2;*/ background:#B5EAAA;}
/* style the third level hover */
.nav ul ul ul a:hover {/*background:#6B7D9A;*/background:#617C58;}


/* hide the sub levels and give them a positon absolute so that they take up no room */
.nav ul ul {visibility:hidden;position:absolute;height:0;top:31px;left:0; width:129px;border-top:1px solid #000;}
/* another hack for IE5.5 */
* html .nav ul ul {top:30px;t\op:31px;}

/* position the third level flyout nav */
.nav ul ul ul{left:129px; top:-1px; width:129px;}

/* position the third level flyout nav for a left flyout */
.nav ul ul ul.left {left:-129px;}

/* style the table so that it takes no ppart in the layout - required for IE to work */
.nav table {position:absolute; top:0; left:0; border-collapse:collapse;;}

/* style the second level links */
.nav ul ul a, .nav ul ul a:visited {/*background:#C6D3E2;*/background:#B5EAAA; color:#000; height:auto; line-height:1em; padding:5px 10px; width:108px;border-width:0 1px 1px 1px;}
/* yet another hack for IE5.5 */
* html .nav ul ul a, * html .nav ul ul a:visited {width:130px;w\idth:108px;}

/* style the top level hover */
.nav a:hover, .nav ul ul a:hover {color:#fff; /*background:#6B7D9A;*/background:#617C58;}
.nav :hover > a, .nav ul ul :hover > a {color:#fff;/*background:#6B7D9A;*/background:#617C58;}

/* make the second level visible when hover on first level list OR link */
.nav ul li:hover ul,
.nav ul a:hover ul{visibility:visible; }
/* keep the third level hidden when you hover on first level list OR link */
.nav ul :hover ul ul{visibility:hidden;}
/* make the third level visible when you hover over second level list OR link */
.nav ul :hover ul :hover ul{ visibility:visible;}




